<div class="card card-inverse w-90">

  <div class="card-body">
    <div class="top-content" style="position: relative; z-index: 0; background: none;">
      <div class="container">
        <div class="row">

          <div class="col-sm-5 text-box">
            <div class="left-side-text">
              <h1>Register with us</h1>
              <div class="description">
                <p class="medium-paragraph">
                  "Enroll with us and enjoy the best benefits"
                </p>
              </div>
            </div>
          </div>

          <div class="col-sm-6 box">
            <!-- <div class="r-form-1-top">
                          <h1>Fill in the form below!</h1>
                      </div> -->
            <div class="r-form-1-bottom">
              <form name="form" #formRef="ngForm" (ngSubmit)="onSubmit(formRef.value)">
                <div class="form-group">
                  <!-- <i class="fa fa-user icon"></i> -->
                  <label class="sr-only" for="name">Name</label>
                  <input type="text" name="name" placeholder="&#xf007; Name" minlength="3" class="firstName form-control" id="name"
                    [(ngModel)]="name" required #fNameRef="ngModel" style="font-family: Arial, FontAwesome">
                  <div *ngIf="fNameRef.invalid && (fNameRef.dirty || fNameRef.touched)" class="alert alert-danger">
                    <div class="error" *ngIf="fNameRef.errors.required">
                      Name is required
                    </div>
                    <div *ngIf="fNameRef.errors.minlength">
                      Name must be at least 3 characters long
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <!-- <i class="fa fa-user icon"></i> -->
                  <label class="sr-only" for="userId">User Id</label>
                  <input type="text" name="userId" placeholder="&#xf007; User Id" minlength="3" class="firstName form-control" id="userId"
                    [(ngModel)]="userId" required #userIdRef="ngModel" style="font-family: Arial, FontAwesome">
                  <div *ngIf="userIdRef.invalid && (userIdRef.dirty || userIdRef.touched)" class="alert alert-danger">
                    <div class="error" *ngIf="userIdRef.errors.required">
                      user id is required
                    </div>
                    <div *ngIf="userIdRef.errors.minlength">
                      User Id must be at least 3 characters long
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label class="sr-only" for="password">Password</label>
                  <input type="password" name="password" placeholder="&#xf084; Choose a Password" style="font-family: Arial, FontAwesome"
                    class="password form-control" id="password" [(ngModel)]="password" required #passwordRef="ngModel">
                  <div *ngIf="passwordRef.invalid && (passwordRef.dirty || passwordRef.touched)" class="alert alert-danger">
                    <div *ngIf="passwordRef.errors.required">
                      Password is required
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label class="sr-only" for="confirmPassword">Confirm Password</label>
                  <input type="password" name="confirmPassword" placeholder="&#xf084; Confirm Password" style="font-family: Arial, FontAwesome"
                    class="confirmPassword form-control" id="confirmPassword" [(ngModel)]="confirmPassword" required #confirmPasswordRef="ngModel"
                    (keyup)="onKey($event)">
                  <div *ngIf="confirmPasswordRef.invalid && (confirmPasswordRef.dirty || confirmPasswordRef.touched)" class="alert alert-danger">
                    <div *ngIf="confirmPasswordRef.errors.required">
                      Please confirm Password
                    </div>
                  </div>
                  <div *ngIf="passwordMismatch && confirmPasswordRef.dirty">
                    <div *ngIf="passwordMismatch" style="color: red">
                      * Passwords mismatch
                    </div>
                  </div>
                </div>

                <div class="form-actions">
                  <div class="row">
                    <div class="col">
                    </div>
                    <div class="col-md-12">
                      <button type="submit" class="btn btn-block btn-primary btn-lg" [disabled]="formRef.invalid">
                        <span>Enroll</span>
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>