<div class="div_main">
  <div class="container">
    <div class="row padtop160">
      <div class="col-sm-1"></div>
      <div class="col-sm-5" *ngIf="!profileTabHide">
        <div class="card text-white bg-dark" style="width:400px">
          <div class="card-body">
            <h4 class="card-title">Profile</h4>
            <p class="card-text">
              Want to make some changes to your profile? click below
              <br>
            </p>
            <button [routerLink]="['/profile',userId]" class="btn btn-nav-match">My Profile</button>
          </div>
        </div>
      </div>
      <div class="col-sm-5">
        <div class="card text-white bg-dark" style="width:400px">
          <div class="card-body">
            <h4 class="card-title">Wallet</h4>
            <p class="card-text">Want to check the recent tranactions and wallet balance? click below</p>
            <button [routerLink]="['/wallet',userId]" class="btn btn-nav-match">My Wallet</button>
          </div>
        </div>
      </div>
      <div class="col-sm-1"></div>
    </div>
    <div class="row padtop20">
      <div class="col-sm-1"></div>
      <div class="col-sm-5" *ngIf="!profileTabHide">
        <div class="card text-white bg-dark" style="width:400px">
          <div class="card-body">
            <h4 class="card-title">Shop</h4>
            <p class="card-text">
              Exciting benefits and offers. Click below to shop
            <br>
            </p>
            <button [routerLink]="['/products']" class="btn btn-nav-match">Shop</button>
          </div>
        </div>
      </div>
      <div class="col-sm-5">

      </div>
      <div class="col-sm-1"></div>
    </div>
  </div>
</div>